<!DOCTYPE html>
<html lang="en">
<head>
  <title>App name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d0/Dogecoin_Logo.png" alt="Avatar" class="avatar">
        <h1>App Name</h1>
        <p>App motto</p>
    </div>

    <form action="login" method="post">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <h3 class="text-center">Login</h3>
                        <div class="form-group">
                            <label for="uname"><b>Username:</b></label><br>
                            <input type="text" placeholder="Enter Username.." name="uname" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd"><b>Password:</b></label><br>
                            <input type="password" placeholder="Enter Password" name="pwd" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log In</button>
                            <div class="text-right">
                                <a href = "/signup">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>