<!DOCTYPE html>
<html lang="en">
<head>
  <title>App name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <h1><strong>Welcome {{username}} to the Home Page</strong></h1>
    <a href="{{ url_for('logout') }}" class="btn btn-primary">LOGOUT</a>
    <div class="container-fluid">
        <div class="col-lg-3 card m-3">
            <div class="card-body">
                <h5 class="card-title">Search Movies</h5>
                <a href="{{ url_for('search') }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3 card m-3">
            <div class="card-body">
                <h5 class="card-title">Special Feature 1</h5>
                <a href="{{ url_for('aq1') }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3 card m-3">
            <div class="card-body">
                <h5 class="card-title">Special Feature 2</h5>
                <a href="{{ url_for('aq2') }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3 card m-3">
            <div class="card-body">
                <h5 class="card-title">Your Ratings</h5>
                <a href="{{ url_for('ratings') }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3 card m-3">
            <div class="card-body">
                <h5 class="card-title">Recommendations</h5>
                <a href="{{ url_for('recommend_sp') }}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>
</body>
</html>