<!DOCTYPE html>
<html lang="en">
<head>
  <title>App name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Recommendation (Stored Procedure)</h1>
    <p>Description: Enter your friend's username to find movie recommendations based on what you both like!</p>
    <form role="form" action="{{ url_for('recommend_sp') }}" method="post">
        <div class="form-group">
          <label for="uname">Friend username:</label>
          <input type="text" class="form-control" placeholder="Friend username" name="uname">
        </div>
        <button type="submit" class="btn btn-primary">Get Recommendations</button>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go back</a>
    </form>
</body>